[2018-04-05 10:26] hkiel opened #1 "port file path wrong on unix"
The ZMQ port file is built using the user name in unixoid systems. See OpenModelica/OMMatlab#1

[2018-04-05 10:36] arun3688 commented on #1
@hkiel  You mean the file path is wrong in Julia  and not read ?, so it must be changed to format similar to OMMatlab like you did, Also i have not tested in Unix platforms, So does the OMMatlab works for you in MAc ?

[2018-04-05 12:51] hkiel commented on #1
OMMatlab works as expected with my fix. I suspect OMJulia to not work as is for the same reason.
BTW, I had to call `javaaddpath('jeromq-0.4.4-SNAPSHOT.jar')` within Matlab to make it find ZMQ.

[2018-04-05 13:34] arun3688 commented on #1
OMJulia port file fixed, regarding OMMatlab, See the comment

[2018-04-13 15:45] #1 closed

[2018-09-27 12:56] bernhard-thiele opened #2 "Julia 1.0 compatibility?"
I tried OMJulia in Windows using Julia 1.0.0 and got following error:

[code]

I wonder whether OMJulia is supposed to work with Julia 1.0?

[2018-09-27 13:03] arun3688 commented on #2
No, OMJulia will not work in Julia 1.0,  It was tested and developed in version 0.6.4
 Some more work need to be done for that. Will be available in the near future

[2018-09-27 13:09] bernhard-thiele commented on #2
Okay, good to know. Then I will mark the issue as "enhancement" and I'm looking forward to the next release.

[2018-11-12 11:03] arun3688 commented on #2
@bernhard-thiele, OMJulia is now supported in Julia 1.0, you can update the package and test it

[2018-11-12 22:59] bernhard-thiele commented on #2
It works, thanks for this update!

[2018-11-12 22:59] #2 closed

[2019-06-12 08:13] JKRT opened #12 "ZMQ freezes when receiving data"
Send and recv is currently handled by

`function sendExpression(omc, expr)
   ZMQ.send(omc.socket, expr)
   message=ZMQ.recv(omc.socket)
   return Parser.parseOM(unsafe_string(message))
end`

The issue here is that I have managed to freeze it a couple of times (The reason being is that we have ZMQ communication but we do not have any timeout or polling to make the decision to throw a communication

[2019-06-12 08:44] arun3688 commented on #12
@JKRT  adding a timeout is a good option , OMPython also uses timeout mechanism to connect with omc, but not in the sendExpression(), i did not face any such freeze situation in OMJulia,  but we can add a timeout parameter in the sendExpression() method, but hopefully timeout value should not be very short

[2019-06-12 13:26] JKRT commented on #12
@arun3688 I noticed it when I tried some things. Basically, I put a lot of print statements for debugging in the Compiler and that broke OMJulia.. See if I can replicate the issue. However, as you said from just reading the code one can imagine the issue even if it is rare..

Do you know anything about usage patterns for OMJulia? I guess certain things can indeed take a very long time hmm.. Some k

[2019-08-12 13:24] AnHeuermann opened #13 "Custom omc path on windows"
I want to be able to use a specific omc executable in a `OMCSession` and to be able to use different executables at the same time.

I would like to do something like:
[code]

[2019-08-12 14:48] arun3688 commented on #13
@AnHeuermann  The feature is added see https://github.com/OpenModelica/OMJulia.jl/commit/24844de4ecf5a1be84fd1047a2229deebc59a894

[2019-08-13 06:00] christiankral opened #18 "Register package at https://github.com/JuliaRegistries/Registrator.jl"
I am working on a package which is not fully documented yet and hosted at https://gitlab.com/christiankral/OMRemote.jl. My package depends on OMJulia.jl. When I try to refer to OMJulia.jl in my [Project.toml](https://gitlab.com/christiankral/OMRemote.jl/blob/master/Project.toml) the registrar at https://github.com/JuliaRegistries/Registrator.jl complains, that OMJulia.jl is not registered.

So is

[2019-08-13 07:03] sjoelund commented on #18
We'll see how the PR goes. Don't know why Arun didn't register it before :) https://github.com/JuliaRegistries/General/pull/2654

[2019-08-13 07:16] arun3688 commented on #18
@sjoelund i did not know about this

[2019-08-13 14:57] AnHeuermann commented on #13
Is working with 73cf0834cbbad78a5b5fb1c23cb0ef2b6125158c

[2019-08-13 14:57] #13 closed

[2019-08-16 12:50] JKRT commented on #18
This was done in https://github.com/JuliaRegistries/General/pull/2654

[2019-08-16 12:50] #18 closed

[2019-08-19 14:13] JKRT commented on #12
I currently do not have the time to do work on this. It is not really critical but I leave it open should either of us have the time

[2019-08-19 14:15] arun3688 commented on #12
@JKRT , I will start looking into it once i finished with OMMatlab Linearization API

[2019-08-19 14:16] JKRT commented on #12
It is not really a big issue. Just do it if there is nothing else to do. As we discussed we should look into the same thing for OMPython as well, and maybe even OMMatlab since the same issue might occur there

[2019-08-19 14:19] arun3688 commented on #12
sure

[2019-08-27 09:27] AnHeuermann opened #22 "omc stays running when julia is exited"
Is there an option to close/shutdown an active `OMJulia.OMCSession()`?

When I run multiple OMCSessions and exit Julia afterwards there are still multiple processes `omc --interactive=zmq +z=julia.TrFYWsxcaT` running. The same happens if I kill an active OMCSession while omc is running some task (+ I get the same error as in ticket #12).
Those are preventing me from rebuilding `omc` and I have to

[2019-08-27 09:29] sjoelund commented on #22
I guess sending the command quit() works... (OMPython has the same problem with no atexit hook closing the connection)

[2019-08-27 09:59] arun3688 commented on #22
@AnHeuermann  as martin said you can just use the command  obj.sendExpression("quit()") will close the session

[2019-08-27 10:14] AnHeuermann commented on #22
Doing this results in
[code]

[2019-08-27 10:50] sjoelund commented on #22
Might need a try block for it. Or sending a command that is not parsed

[2019-08-27 11:19] arun3688 commented on #22
It is a parse error and you can see in the system process, that the omc process is killed

[2019-08-27 12:51] arun3688 commented on #22
@AnHeuermann , This is fixed with https://github.com/OpenModelica/OMJulia.jl/commit/ee363e4e561e3bbbd91c8ed6fe95d5d0b6300b15
you can use OMJulia.sendExpression(omc, "quit()",parsed=false)

[2019-08-27 14:26] AnHeuermann commented on #22
It's still not working for me:
[code]

[2019-08-27 15:59] AnHeuermann commented on #22
Oh.. you are right. But I only was able to get on the right version when using my local copy of the repository and activate that as package for development. But that's a different issue.
Thanks!

[2019-08-27 15:59] #22 closed

[2019-09-13 15:44] JKRT commented on #12
Seems alright. My only comment is that we maybe should do import ZMQ instead of using ZMQ so we can see which parts that belongs to different modules

[2019-09-25 10:55] CSchoel opened #32 "Sometimes ZMQ freezes on sendExpression("quit()")"
Sometimes (maybe 1 in 10 or 1 in 20 cases), ZMQ freezes after `sendExpression(omc, "quit()")`.

The OMC instance shuts down properly, but the call never returns. I suppose that this could be a threading issue on the side of OMC so that `quit()` sometimes shuts down the process before the answer to the ZMQ message is sent.

The clean solution would probably be to look into the ZMQ handling in the O

[2019-09-25 15:39] adeas31 commented on #32
@arun3688 Isn't it already fixed. See #12 and #29.

[2019-09-25 15:40] JKRT commented on #32
@arun3688 @adeas31 I think the issue might be due to the official version of this package has not been updated maybe..

@CSchoel Could you try the code from this repo and verify this to us?

[2019-09-25 16:07] arun3688 commented on #32
@adeas31 , Yes this is fixed as John pointed it out, @CSchoel  may be using the oder version

[2019-09-25 16:55] adeas31 commented on #32
Well looking at the code I think the problem is still there. You only check for the process before send. If we send "quit()" it will kill the process so I think you have to check for it before receive as well.

[2019-09-25 17:25] arun3688 commented on #32
@adeas31 i will add it

[2019-09-26 11:12] JKRT commented on #32
@arun3688 still, did you release a new version of OMJulia after the fix?

[2019-09-26 11:25] arun3688 commented on #32
@JKRT you mean which fix, this issue

[2019-09-27 08:58] JKRT commented on #32
@JKRT Did we cover this yesterday?

[2019-09-30 12:11] CSchoel commented on #32
I already used the latest repository version (commit hash `77e7fe0684c8dc6b60cc668fcf1f2ec89c43581e`) for my tests, because I needed the fix for #22 to be able to send the `quit()` command.

I think @adeas31 is right: The fix for #29 does not work in this case, because the omc process is killed after the process status was checked.

[2020-03-30 12:22] sjoelund opened #36 "Does not work with Julia 1.4"
The following works fine in Julia 1.1, but 1.4 refuses to start:
[code]

[2020-04-21 10:48] CSchoel opened #37 "Release of next version of OMJulia?"
I would really like to be able to install the current repository version of OMJulia with `pkg> add OMJulia`, especially because of the fix for #22. As I understand this only requires an update of the Project.toml and a merge request on https://github.com/JuliaRegistries/General .

Currently, I need to manually clone the repository and activate the local copy, because due to https://github.com/Juli

[2020-04-21 10:54] arun3688 commented on #37
@CSchoel  you can use something like below, This should fetch the latest changes

[code]

[2020-04-22 13:41] CSchoel commented on #37
Thanks for the hint, but this gives me the same error as when I use `pkg> add https://github.com/OpenModelica/OMJulia.jl` (which probably is just the same as your example anyway, just in REPL syntax?):

[code]

From the discussion at https://github.com/JuliaLang/julia/issues/33111 I would hope that this issue does not affect packages that are officially registered, since they do not have to be clo

[2020-06-29 12:50] arun3688 commented on #36
@sjoelund  I tested with julia 1.4.2 , it is working

[2020-06-29 12:59] sjoelund commented on #36
1.4.2 hangs for me as well. I get:
[code]
And
[code]

But then nothing happens. The log-file just says:
[code]

So I guess there is something not working with ZeroMQ

[2020-06-29 13:12] arun3688 commented on #36
@sjoelund  I am not even getting such warnings in windows.

![image](https://user-images.githubusercontent.com/6870949/86009518-9c27ee00-ba1a-11ea-8320-18022dea09eb.png)

i updated all  the packages and tested it.

[2020-06-29 13:16] sjoelund commented on #36
I also updated my packages and tested with 1.4.2 again :)

[2020-06-29 13:19] sjoelund commented on #36
If I update to OMJulia#master I also don't get that warning. But it still hangs...

[2020-06-30 09:09] arun3688 commented on #36
@sjoelund , I was able to reproduce the problem in linux,  i found the problem related to hanging, It is the "Parser" module which takes too long for the first time compilation, and not the ZMQ,  the ZMQ is working fine . I did some trials in the dev server and found the following

### Without disabling Parser module:

[code]

### After disabling Parser module:
 #return Parser.parseOM(unsafe_strin

[2020-06-30 13:31] sjoelund commented on #36
https://gist.github.com/sjoelund/af90649890dec720cb9d7aab58c3a196

[code]

What are the times on that file in Windows? (Running from command-line)
If it's very different from Linux I guess we should make a bug report to Julia.

[2020-06-30 13:41] sjoelund commented on #37
You can also use simply `add OMJulia#master`. But it's probably good to make more releases anyway, Arun :)

[2020-06-30 13:54] arun3688 commented on #36
I got the following measurements

[code]

[2020-06-30 14:04] sjoelund commented on #36
From Slack

[code]

[2020-07-01 06:38] sjoelund commented on #36
Should be fixed by #38

[2020-07-01 06:38] #36 closed

[2020-09-08 10:07] CSchoel opened #39 "ZMQ freezes on first command after session is created"
Sometimes (quite rarely), the first call to `sendExpression()` after an OMCSession is created freezes.

Stacktrace of InterruptException (after CTRL-C):

[code]
setupOMCSession is my own code which contains the following relevant lines with the second line being the one that shows up in the stacktrace:

[code]

This happens with the release version 0.1.0 of OMJulia. I believe I have also encounter

[2020-09-08 10:30] CSchoel commented on #39
One additional note: Together with #32 one might get the impression that perhaps any `sendExpression()` call might freeze, but across several hundred test runs over the last months, I never encountered a freeze *between* individual simulations, but only at the very start or at the end of the pipeline.

[2020-11-03 16:13] CSchoel commented on #39
Update: I gradually increased the timeout from 100 ms to 500 ms, but still got occasional hangups. My next best guess is this suggestion from a related issue in ZMQ.jl: https://github.com/JuliaInterop/ZMQ.jl/issues/87#issuecomment-131153884

[code]

This sends `getVersion()` to the OMC until an answer is received in less than 100 ms. I am not sure if this (rather crude) timeout mechanism will work

[2020-11-12 17:02] CSchoel commented on #39
Update can be found here: https://github.com/THM-MoTE/ModelicaScriptingTools.jl/issues/9

The solution avoids freezes, but ZMQ crashes with a `ZMQ.StateError`.

[2020-11-19 16:52] CSchoel commented on #39
Another update: I have now improved the function `avoidStartupFreeze` to a point where it simply discards the whole OMCSession and creates a new one when a timeout is detected.

[code]

So far this works great, although it is more a workaround rather than a solution.

[2021-02-01 10:25] Otepipi opened #41 "cannot linearise() in Open Modelica v1.16 environment"
In my Open Modelica v1.16.2(64bit win10) environment, OMJulia's` linearise() `function does not work properly.  On the other hand, in the Open Modelica v1.13 environment, it worked correctly.

This is probably because the file name of the linearized model is generated as `"linear_**model name**.mo"` in Open Modelica v1.13, while the name is generated as `"linearized_model.mo" `in Open Modelica v1.

[2021-02-01 10:27] arun3688 commented on #41
@Otepipi thanks for pointing the issue, we will fix it as soon as possible

[2021-02-01 10:33] Otepipi commented on #41
@arun3688  thank you.

[2021-02-02 11:02] casella commented on #41
Same comment as in [OMMatlab  #10](https://github.com/OpenModelica/OMMatlab/issues/10), isn't there a way to avoid code duplications and hence inconsistencies among different OpenModelica tools?

[2021-03-31 09:33] DarkVador42 commented on #39
@CSchoel thank you for that workaround. I also observed the startup freeze, but additionally have problems when running thousands of simulations in a row - at some point the communication fails.

[2021-04-09 17:47] CSchoel commented on #39
@DarkVador42 you're welcome. I am happy that it could be of help to someone else. :smile:

Is your error by any chance related to a `ZMQ.StateError`? This is the only additional problem that I encountered with this method and it only occurs during the creation of an `OMCSession` instance. I use a [very crude solution](https://github.com/THM-MoTE/ModelicaScriptingTools.jl/blob/e78e40aa4a2c03bf469ef

[2021-04-12 07:39] DarkVador42 commented on #39
@CSchoel, yes, it also happens regularly when I create the OMCSession. Apart from that it also froze when I had thousands of model calls, where it was trapped inside a "wait" function of ZMQ - I cannot be more specific here, since I was not able to reproduce the error...

[2021-04-12 19:22] valfaro opened #42 "OMJulia "simulate()" does not work with OMC v1.17.0"
OMJulia v0.1.0 was tested before with OpenModelica v1.16.X and work fine, but now it does not work with OM compiler v1.17.0
"getX" and "setX" methos are ok but "simulate()" fails

Example of the error message:
ERROR: LoadError: failed process: Process(`C:/Users/victo/AppData/Local/Temp/jl_c4ikD7/SisHidraTk1e.exe`, ProcessExited(3221225781)) [3221225781]

Stacktrace:
 [1] pipeline_error at .\proces

[2021-04-12 19:47] adrpo commented on #42
I guess the problem is that in 1.17 we compile the simulation executable dynamically (and it cannot find the dlls) and in 1.16 statically so it just works to run the exe. In Windows we would need to add to PATH when simulating the model:
[code]

[2021-04-14 00:16] #42 closed

[2021-07-02 20:18] christiankral opened #44 "How to specify version of additional Modelica libraries in ModelicaSystem"
The [documentation of ModelicaSystem](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/omjulia.html?highlight=modelicasystem) shows the following text and example:

![image](https://user-images.githubusercontent.com/4184218/124322079-1edc0f80-db7f-11eb-94cb-6d72cda83e66.png)

The third argument is apparently a list of additional libraries to be loaded. In the included example the lib

[2021-07-03 07:59] adrpo commented on #44
Yeah, we should make it so that you are be able to specify tuples: [("Modelica", "4.0.0"), ...].
For now just add uses annotation to you model with all the libraries you want and they will be loaded automatically.

[2021-07-03 08:04] adrpo commented on #44
This is wrong, it should be `loadModel(Modelica, {"4.0.0")}` instead of` load(....)`

[2021-07-03 20:36] christiankral commented on #44
Yes indeed, the following works: `OMJulia.sendExpression(mod,"loadModel(Modelica,{\"4.0.0\"})")` causes a version incompatibility as expected.

[2021-07-05 07:23] arun3688 commented on #44
I will modify the `API` to specify library versions in the form of tuples

[2021-07-19 19:47] christiankral opened #45 "How to handle structural change of models"
### Modelica model

Consider the following [Modelica model](https://github.com/OpenModelica/OMJulia.jl/files/6843572/Test.mo.zip) which incorporates a structural change (number of states) depending on the integer variable `dyn`:

[code]

### Case 1: Simulate model with `dyn = 1`

The default value is `dyn = 1`, so the parameter does not have to be changed for Case 1. I run the following code in Ju

[2021-07-19 19:55] christiankral commented on #45
Alternatively I tried to purely use the API applying `sendExpression(omc, ...)` as described in https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html. However, I could not find a way to change a parameter value before building and simulating a model, respectively.

Is there an API call to change a parameter prior to building and simulating, respectively?

[2021-07-19 20:05] christiankral commented on #45
Also note that `buildModel(mod)` does not work, but `OMJulia.buildModel(mod)` works.

[2021-07-19 20:28] adrpo commented on #45
Use `setParameterValue(Test, dyn, 0)`.

[2021-07-19 20:55] adrpo commented on #45
We should fix it so it tells you that the parameter you are trying to change is not modifiable without recompilation.

[2021-07-19 20:56] adrpo commented on #45
If you need to set it deeper in a component, use setModifierValue.

[2021-07-19 20:59] adrpo commented on #45
These will change the AST of the loaded program so you will need to recompile.

[2021-07-19 22:10] arun3688 commented on #45
@christiankral , Thanks for pointing out the issue, I tested myself it seems there is a bug when setting the `parameter values` of type `Integer`, You don't need to use the `buildModel()` to change the parameter values again. To check that I tried to change the Real parameter value `c` in the model

[code]
I will debug the problem and try to fix the problem with `ModelicaSystem` Constructor

[2021-07-20 08:47] christiankral commented on #45
Thanks for this comment. Using `sendExpression(omc, "setParameterValue(Test, dyn, 0)")` in OMJulia does change the parameter. Unfortunately, `setParameterValue` is not yet documented on https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/search.html?q=setParameterValue

[2021-07-20 08:58] adrpo commented on #45
Yes, some of the API is not documented as we dont want to encourage its use because it changes quite often.

[2021-07-20 09:02] arun3688 commented on #45
@christiankral , yes that is true, it is undocumented,  and also i misunderstood your question, and I was wrong with my comments earlier that setParameters() does not work with parameter of type `Integer` , The `setParameters() ` API works, but the `API just overrides the parameter values at run time using the `-override` Flag, but it does not gives warning something like below

[code]

I will do

[2021-07-20 09:04] christiankral commented on #45
@arun3688 A workaround for integers not yet working is to simply change `dyn` from `Integer` to `Real`:

[code]

Again, the change of parameter `dyn` causes a structural change of the model and requires re-building the code.

Applying the following Julia code

[code]

does still not lead to the expexted result. The output of this Julia script is: `dyn  = 1.0 x = 0.3678794515339768`

So apparently

[2021-07-20 09:13] christiankral commented on #45
This, however, also works for `dyn` being of type `Integer`.

[2021-07-20 09:35] arun3688 commented on #45
Yes it works, but you cannot override the parameter value from `dyn=1` to `dyn=0 ` using the `setParameters()` API because it uses a different approach to apply the new values to the parameters and it is done during run-time using the `-override` flag since `dyn` is a structural parameter, it is not possible to change the value and you do not get proper warning message

[2021-07-21 11:19] arun3688 commented on #45
@christiankral , I have now exported `buildModel()` API, and also improved the error reporting, Now you can use the `ModelicaSystem() and sendExpression() `in combination and rebuild the model using `buildModel()`, An example of such combination is given below

[code]

[2021-07-21 11:25] christiankral commented on #45
Very good. Thanks a lot.

From my point of view we can close this ticket.

[2021-07-21 11:45] #45 closed

[2021-07-21 14:22] christiankral opened #47 "Cannot set parameter in a class being extended"
Consider the following example and store it as `Test.mo`:

[code]

The parameters `dyn` and `c` are declared in the model `Test.Data` which is extended in `Test.Example`.

When running the following Julia script I run into issues:

[code]

### Issues

1. `getParameters(mod)` shows the following results, which totally makes sense, as `c` and `dyn` are parameters of `Test.Example`:
[code]
2. The com

[2021-07-21 14:28] christiankral commented on #47
I thought that it may be necessary to [instantiate](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html?highlight=flatten) `Test.Example` before setting the parameter `c`, but `instantiateModel(Test.Example)` is not a solution.

[2021-07-21 15:26] arun3688 commented on #47
@christiankral i tested your package, the error message is not correctly displayed due to parser error, So you can use the API in the following way , set the named argument `parsed = false` like below
[code]
And the error message says that c is not found in Test.Example which is true, At least for this example you are not changing structural parameters and if your aim is to change only `c` then `s

[2021-07-21 15:44] christiankral commented on #47
@arun3688 Thanks for your comment.

So if I want to change the structure of the model, too, by changing `dyn`, I have to use
- `sendExpression(mod, "setParameterValue(Test.Data, dyn, 0)")`
- `setParameters(mod, "c=9")`

then build and simulate the model.

I am wondering how I can automate the change of parameters independent of being a structural parameter or not.

The problem of automation is: ho

[2021-07-21 18:08] christiankral commented on #47
Asked differently: is there a way to flatten the investigated model `Test.Example` such way that "every" parameter appears in `Test.Example`?

[2021-07-21 18:34] christiankral commented on #45
@arun3688 @adrpo Is this still going to be done? This would possibly support a more structured solution of #47 for my purpose.

[2021-07-21 19:49] arun3688 commented on #45
@christiankral  I guess this commit https://github.com/OpenModelica/OMJulia.jl/commit/83e39739c1f6549642f4ee64600a44be9e22409a is telling you the message you want , that it is not possible to override dyn due to `structural`

julia> simulate(omc)
stdout            | warning | It is not possible to override the following quantity: dyn
|                 | |       | It seems to be structural, final,

[2021-07-21 22:23] arun3688 commented on #45
@christiankral I found a more better way to report about `structural parameter` and report the error message directly when using the `setParameters()` API, So that users are aware that these parameters are not modifiable. I will implement it tomorrow

[2021-07-21 22:30] christiankral commented on #45
Thanks @arun3688

[2021-07-22 19:40] adrpo commented on #47
Unfortunately currently there is no way to fetch all parameters from the flatten model with the API and then have just one API to set them in the top model. I am working on adding these.

For now what OMEdit does is that it fetches the extends then gets the parameters from the entire instance hierarchy. Then uses `setExtendsModifierValue` to set those, but it doesn't work in all cases.

[2021-07-23 08:51] christiankral commented on #47
For now I could even create a workaround based on proposal https://github.com/OpenModelica/OMJulia.jl/issues/45#issuecomment-884537437, which I somehow need for my project [OMcsv.jl](https://gitlab.com/christiankral/OMcsv.jl):

If `setParameters` draws a proper message then I can process it and make a parameter change using `setParameterValue(...)` to a Modelica class that I have to specify explic

[2021-07-23 09:21] arun3688 commented on #47
@christiankral , I am making changes to `setParameters()` so that it gives you the proper error message,  I will soon push it, making some tests

[2021-07-28 16:18] arun3688 commented on #47
@christiankral , the `setParameters() ` API is fixed with https://github.com/OpenModelica/OMJulia.jl/commit/d99f7b803182a8327476a45a6504264f83f57d18, Now you can get proper info messages about structural parameters and it can be changed or not

[code]

[2021-07-30 17:01] christiankral commented on #47
This makes sense and works. But, if I build the model prior to simulation, the parameter `c` is **NOT CHANGED** correctly.

In order to easier check this behavior, I provide the code:
[code]
This code returns `c  = 1.0	x = 0.001109553030142552`, so `c` was not changed from 1 to 9!

Is this a bug?

[2021-07-30 21:45] arun3688 commented on #47
@christiankral Actually `ModelicaSystem` Constructor internally calls `buildModel()` API,  so when you are calling  the `buildModel() ` API all the values which are used as part of `sendExpression() ` gets updated, but the old values are ignored, and hence the values for `c` is wrong, but if you use `c = getSolutions(mod, "c")[end][end]`, the you should get `c=9`

[code]
But as you pointed out it

[2021-08-02 14:57] arun3688 commented on #47
@chrbertsch , the issue is fixed with this commit https://github.com/OpenModelica/OMJulia.jl/commit/fd5e1ea284e1e1411012df642d4ff7b4013ee0c0, test it

[2021-08-04 08:29] arun3688 commented on #47
@christiankral I will close this issue, if there are further problems, please open a new issue

[2021-08-04 08:29] #47 closed

[2021-08-09 14:38] arun3688 commented on #44
@christiankral , the issue is fixed with this commit https://github.com/OpenModelica/OMJulia.jl/commit/8a6cf80084320a4f85b1c9528a02b1a6e3440da5, please test it

### Usage
[code]

[2021-08-09 19:14] cubakija opened #52 "OMJulia simulate command returns error"
Hi everyone,
I've got an error message when execute simulate command. When I go to the directory that error point out, and run RLC exe, following  message pop up:
[code]
I am using win-10, OpenModelica1.17.0-64bit, Julia-1.6.1 and OMJulia v0.1.0 `https://github.com/OpenModelica/OMJulia.jl#master`

Attached openmodelica file and julia script.
[RLC_OM.txt](https://github.com/OpenModelica/OMJulia.jl/

[2021-08-10 09:41] arun3688 commented on #41
@Otepipi The issue is fixed with this commit https://github.com/OpenModelica/OMJulia.jl/commit/b02cd1f78de3c2ad732ede5a24e831a9407da503, you can test it

[2021-08-11 08:32] arun3688 commented on #52
@cubakija I hope the simulation works in OMEdit ?

[2021-08-11 08:39] cubakija commented on #52
Yes, "The simulation finished successfully."
That was first I've checked.

[2021-08-11 13:09] arun3688 commented on #52
@cubakija Can you add the following paths to your `PATH` Environment variable to find all the DLL's and test it again

OpenModelica1.17.1/bin
OpenModelica1.17.1/lib/omc
OpenModelica1.17.1/lib/omc/cpp
OpenModelica1.17.1/lib/omc/omsicpp

[2021-08-11 17:26] cubakija commented on #52
👍 Yes, it works OK that way in REPL, but not in Jupyter where I've got an error.
Guess it is not OMJulia issue now, but something regarding Jupyter config.
I will appriciate if you could give me the advise on how to fix this problem.

[2021-08-11 19:32] arun3688 commented on #52
@cubakija Great it worked, but i guess you are still not using the current master of OMJulia, because when executing the simulation executable in your case `RLC.exe` we append the dll´s path to `PATH` environment variable , how did you install OMJulia ? Did you do it like below

[code]
Also regarding Jupyter notebook, please post the error message you are getting

[2021-08-11 19:46] cubakija commented on #52
Yes, I've done the way you shown above.
Here is my package status, if it could help:
[code]
The error Jupyter throws after simulate(RLC) is:
[code]

[2021-08-11 20:22] arun3688 commented on #52
@cubakija can you go to this location `C:\Users\USUARIO\.julia\packages\OMJulia\P5JuJ\src\OMJulia.jl` and send the `OMJulia.jl` , we can see what version you are using

[2021-08-11 20:33] cubakija commented on #52
Attached OMJulia.jl

[OMJulia.txt](https://github.com/OpenModelica/OMJulia.jl/files/6971223/OMJulia.txt)

[2021-08-12 08:28] arun3688 commented on #52
@cubakija you are using the master version of OMJulia, so this is correct, go to this location `C:/Users/USUARIO/AppData/Local/Temp/jl_gzs9vj/RLC.exe` and execute `RLC.exe` manually by clicking on it and see if that works and we can see if the problem is related to jupyter notebook

[2021-08-12 16:34] cubakija commented on #52
Nothing happens when I execute RLC.exe, but when I execute it as administrator, command prompt appears and disappears for a moment. 😲

[2021-08-12 17:28] arun3688 commented on #52
@adrpo We already did this for OMJulia, here is the commit https://github.com/OpenModelica/OMJulia.jl/commit/980eba4f5bb30c58b0935f949d0d84889a771f7d,  the simulation works in `julia REPL`, but not from jupyter notebook. And even with this change the simulation did not work on his computer and we need to explicitly set the paths in `PATH` environment variable and it worked for him, but now it is n

[2021-08-12 17:30] arun3688 commented on #52
@cubakija , when you clicked the executable and if nothing happened means it worked, so i guess there is problem with jupyter notebook, can you also the run the jupyter notebook as administrator and test it and see if that works

[2021-08-12 17:34] adrpo commented on #52
How do you start the jupyter notebook?

[2021-08-12 18:31] cubakija commented on #52
I run Jupiter notebook 6.3.0 from Start Menu > Programs> Jupyter Notebook (anaconda3) /`(as adminsrtrator). Simulate command still give the error. I rememeber then previosly I could run Jupiter notebook from the Anaconda, but it does not work for a while.
[code]

[2021-08-12 20:55] arun3688 commented on #52
@cubakija, I tested the model in jupyter notebook and it worked fine for me, see the attached screenshot

![image](https://user-images.githubusercontent.com/6870949/129268403-fd538e1e-3e5c-42b8-927a-ed50fee00206.png)

[2021-08-22 15:00] arun3688 commented on #47
@casella the issue is fixed and closed

[2021-08-22 16:31] casella commented on #47
Sure, I just wanted to give you due credit for that :)

[2021-08-23 19:29] christiankral commented on #44
OK, I am trying the following [two examples](https://github.com/OpenModelica/OMJulia.jl/files/7034439/Test3%2B4.zip.zip):

Example `Test3.mo`:

[code]

Example `Test4.mo`:

[code]

So `Test3` only works with MSL 3.2.3 and `Test4` only works with MSL 4.0.0.

In Julia I try (after updating `OMJulia`):

[code]
causes the following error:
[code]

If I use `("Modelica","3.2.3")` instead of `[("Modelica

[2021-08-23 19:49] arun3688 commented on #44
The following error msg is correct,
`[/home/data/work/Test3.mo:2:3-2:53:writable] Error: Class Modelica.SIunits.Current not found in scope Test3.\n`
It means the SIUnits.Current is not loaded with `4.0.0`, but it should work with `3.2.3`  and it worked for me with 3.2.3

[2021-08-23 20:01] christiankral commented on #44
I don't understand why the error message caused by `ModelicaSystem(mod, "Test3.mo", "Test3", ("Modelica","3.2.3"))` is correct, as `Modelica.SIunits.Current` is a valid Modelica class in MSL 3.2.3. I tested it in OMEdit, and works OK with the MSL 3.2.3.

**Note** In the MSL 3.2.3 it's `Modelica.SIunits` not `Modelica.SIUnits` (lowercase `u`)

[2021-08-23 20:22] arun3688 commented on #44
@christiankral I cannot reproduce the error, see below

[code]

[2021-08-24 07:47] christiankral commented on #44
@arun3688 Can you please paste the code of your file `"TestVersion.mo"`

[2021-08-24 07:51] arun3688 commented on #44
@christiankral It is the same code what you posted for Test3.mo, I changed the filename, below is the code

[code]

[2021-08-24 08:07] christiankral commented on #44
Oh I see: it was my fault: I had fixed OMJulia to a previous SHA1 hash number and forgot to switch to master. Therefore `update` had no impact before switching to master.

All the cases that should work, now work indeed. Thanks for your support, sorry for bothering you.

The ticket can now be closed from my point of view.

[2021-08-24 08:13] arun3688 commented on #44
@christiankral  great and thanks for testing

[2021-08-24 08:13] #44 closed

[2021-09-24 11:20] AnHeuermann opened #54 "Example from User's Guide not working"
When running
[code]
similar to https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omjulia.html#advanced-simulation I get an error for `simulate`:
[code]

Problem is that `resultfile` and `simflags` are positional, not keyword arguments.

[2021-09-24 12:14] AnHeuermann opened #56 "Getting a bunch of temp dirs"
When creating some `OMJulia.OMCSession`s my directory ends up containng a bunch of empty directories starting with `zz_`.

We should delete the empty directory after everything is done. Also I can't see if anything is done in the `zz_` directory.
`omc.tempdir` has always a different string.

[2021-09-24 12:38] #54 closed

[2021-09-24 12:49] #56 closed

[2021-12-23 20:20] Amuri44 opened #58 "buildModel() is not working"
I am trying to implement the code in julia:
https://openmodelica.org/doc/OpenModelicaUsersGuide/1.18/scripting_api.html#simulation-parameter-sweep
the loadFile is working but the buildModel (i.e., sendExpression(omc,"buildModel(BouncingBall)");) is not (although it works in omshell). Any idea or reason for that?

[2021-12-23 21:18] arun3688 commented on #58
@Amuri44 , there is an extra `parenthesis `and `semicolon`, It should be `sendExpression(omc, "buildModel(BouncingBall)")` also please note that if there are some problems you should always use `getErrorString()`  to see the error message `sendExpression(omc, "getErrorString()")`, So your code should be like this

[code]

[2021-12-23 22:09] Amuri44 commented on #58
@arun3688  Thanks for your reply!
I copy also your code and it did not give any results in julia (it gave as below)

[ Info: Path to zmq file="C:\Users\amroa\AppData\Local\Temp\openmodelica.port.julia.zRhLDU5UE7"
""
julia>

[2021-12-23 23:12] arun3688 commented on #58
This is wrong, you cannot use `buildModel`  like that, can you paste your full code

[2021-12-28 16:13] #58 closed

[2022-01-06 15:08] AnHeuermann opened #59 "OMJulia not responding with long debug message"
When I run the following script

[code]

with omc the total time is around 8 seconds.

When I convert the script to be used in OMJulia it will not finish (at least in an amount I'm willing to wait).
[code]

When I cancle the last command I get
[code]

When I remove `dumpSimCode` OMJulia simulates fine in around 7 seconds.

My guess is that the debug log is to large to be handled.

[2022-01-07 08:55] arun3688 commented on #59
@AnHeuermann I could also reproduce the problem and when i remove the `dumpSimCode` it works fine, As you said the debug log is too large, when i tried with small example it worked fine

[code]

but i could not see the debug log generated from `dumpSimCode`

[2022-01-07 10:01] AnHeuermann commented on #59
The message should be in `"messages"` of the Dict. With smaller debug flags this does work, for example `backenddaeinfo` worked.

[2022-01-07 10:03] casella commented on #59
As a general remark, once a simulation tool has been refined enough to be actually usable for real-life work, small problems work fine, while trouble can arise with large, complicated models, which inevitably generate humongous log files. Sizes of serveral hundreds MB, or even over the GB size, are not unheard of, I had to handle some of them in the past when I had to turn on `LOG_NLS_V` to figure

[2022-01-07 10:08] casella commented on #59
That's exactly what I meant as a questionable design 😃. Guaranteed not to work when you really need it.

I guess this can easily be improved by only using this data structure for sizes up to a certain size, adding a reference to a file on mass storage if that size is exceeded.

[2022-01-07 14:26] JKRT commented on #59
@casella

Some bullets. You are right that you might sometimes need to write to file, since in some cases available memory is not enough, and swapping might result in the simulation taking an even longer time to complete. However, even writing to file is not 100% bulletproof. I remember one instance where I managed to overwrite my hard drive when experimenting with the logfiles in the scaleable te

[2022-01-07 15:01] arun3688 commented on #59
@JKRT, @AnHeuermann This is not an issue in `OMMatlab `or `OMPython` , The simulation does not hangs and it works, We get the following message from `OMPython` and same for `OMMatlab`, I think the issue is only related to OMJulia, and may be `ZMQ `package has some problems. But in the message field i don't see any dumps from `dumpSimCode` but it says` end condition reached`

[code]

[2022-01-07 17:42] casella commented on #59
Of course. But at least you have 1-2 more orders of magnitude of headroom. Setting an upper limit to file size as well seems a good strategy.

A full hard disk is in fact even worse than a full RAM, in the sense that the problem doesn't go away when you reboot...

And maybe also do that for the file size, just in case.

[2022-04-13 14:30] AnHeuermann opened #61 "Add OSI-approved license to OMJulia top level folder"
Currently https://github.com/JuliaRegistries/General/pull/58444 fails, because of the missing license file, so we can't update our OMJulia version in the Julia general regestry.

OMJulia source files are using the [OSMC-PL](https://www.openmodelica.org/developersresources/contributor-license-agreement?id=56:full-license) license, see e.g. https://github.com/OpenModelica/OMJulia.jl/blob/master/src/

[2022-04-13 14:31] AnHeuermann commented on #61
@casella Maybe we should discuss this is the next developer meeting, or does the OSMC board need to decide this?

[2022-04-13 23:37] casella commented on #61
To the contrary, anybody can do that, _provided they make the changed code publicly available if they release it_. I don't see any problem with that. @AnHeuermann please remind me this issue during the next webmeeting.

[2022-06-10 05:03] christiankral opened #62 "Closing of OMCSession"
When I run perform batch processes based on OMJulia, several hundret calls of `OMCSession` are performed.

![image](https://user-images.githubusercontent.com/4184218/172993312-6d8baddd-fc16-4d32-b00d-8ef5de0c09a7.png)

After that I have many abandonded processes which push the RAM consumption of my (Linux) computer to its limits.

I could neither find in the documentation nor in the examples, how

[2022-06-10 06:27] arun3688 commented on #62
@christiankral to delete a session you have to use `quit()`  like `sendExpression(omc, "quit()")`

[2022-06-10 08:26] christiankral commented on #62
I tried the following:

[code]

The third line causes an error message:

[code]

[2022-06-10 08:51] arun3688 commented on #62
@christiankral , It seems there is a problem with Julia parser when parsing the results from omc, please disable the parser like below

[code]

[2022-06-10 09:12] christiankral commented on #62
OK. the option `parsed=false` seems to work:

[code]

[2022-06-10 13:34] christiankral commented on #62
@arun3688 Is the option `parsed=false` already the full solution to my request or is it a parsing issue that needs to be solved?

[2022-06-10 14:15] arun3688 commented on #62
@christiankral Well the immediate solution is to use `parsed = false`, but offcourse we need to fix the parser

[2022-07-06 08:26] bilderbuchi commented on #61
Isn't code _generated_ by omc under the [runtime license](https://openmodelica.org/osmc-pl/osmc-pl-1.2-runtime.txt), isn't that what that license is for?

(At least MetaModelica.jl seems [to use an old version of the RT license](https://github.com/OpenModelica/MetaModelica.jl/blob/master/LICENSE.md), with a missing mention of BSD-3)
BSD New/BSD-3 might be a more natural OSI-compatible fit than MIT

[2022-07-06 08:47] casella commented on #61
The OSMC-PL license is meant for the source code of _the tool_, not for the generated source code of _user's models_.  That is to prevent non OSMC-members to change the code of OpenModelica for their purposes, make it closed-source and sell without any benefit for the OSMC.

There is no reason to use the OSMC-PL license for the _generated code_ of user's models. User's models are the property of t

[2022-07-06 10:05] bilderbuchi commented on #61
The case of _changing_ OM code is very clear, but what about **using OM unchanged**? Possibly that is what is surfaced in discussions in components wrapping/driving OM, like here or in https://github.com/OpenModelica/OMPython/issues/153.

For example, let us consider that OMJulia or OMPython (or other ancillary/driver packages) are used unchanged/imported by some entity in some software S that e.g

[2022-07-06 10:50] casella commented on #61
IANAL either, but the text of GPL v3 seems very clear to me

Whether the input to the program comes from a file, or a socket, or a floo network port, should be irrelevant. For example, GNU is released under GPL.  If you run `grep "somestring" input.txt | myprogram` that doesn't require you to release myprogram as GPL if you want to convey it to others.

Makes sens.

That's clear.

I think we shoul

[2022-07-06 11:06] bilderbuchi commented on #61
You are lucky, then. :-)
It's not without reason that in the FAQs for the GPL, there are [several ](https://www.gnu.org/licenses/gpl-faq#MereAggregation) [items ](https://www.gnu.org/licenses/gpl-faq#LinkingWithGPL) [concerning ](https://www.gnu.org/licenses/gpl-faq#GPLPlugins) [the ](https://www.gnu.org/licenses/gpl-faq#GPLAndPlugins) [question ](https://www.gnu.org/licenses/gpl-faq#GPLAndPlugins

[2022-07-06 11:15] bilderbuchi commented on #61
On the topic of registering the package, it [seems](https://github.com/JuliaRegistries/General/issues/48137#issuecomment-960864015) that dual-licensing packages is not a problem.
As the OSMC license (RT or not) is effectively a dual license, it seems to me that it can be clarified in the PR that an OSI-approved license (GPL-3 or GPL-3/BSD-3) is available to users who need that?

An issue might be

[2022-07-13 09:21] AnHeuermann opened #64 "ZMQ error when starting second omc session"
## Description

When I create an OMCSession, close it with `quit` and open a new one ZMQ throws an error.

Strangely this works perfectly fine on all of my machines but one.
This also works fine in the virtual machines of the GitHub actions CI of a package I'm developing.

## How to reproduce

[code]

## Versions 'n stuff

OS: Ubuntu 20.04.4 LTS
OpenModelica: v1.20.0-dev-211-g882357bebd
Julia Vers

[2022-07-13 12:23] AnHeuermann commented on #64
Okay, this has nothing to do with the second run.

The only way I can get it to work for me is to un-coment the `sleep(5)` in https://github.com/OpenModelica/OMJulia.jl/blob/master/src/OMJulia.jl/#L161.

There has to be a way to check if the process spawned in the pipeline is already up and running and that we wait for that to happen.
[code]

I tried `@async` and `wait` but without success.

[2022-07-13 12:38] JKRT commented on #64
@AnHeuermann What happens if you run Julia with `Julia -O0` ?

Just curious because I remember I did some kind of hack to avoid having the Julia compiler remove code in one of the loops.

We could add the sleep again, the issue is that it is not guaranteed to work either (Flaky, in the sense it might still fail once every full moon or so).

Maybe it would be good anyway to add:
`Base.Experimental.

[2022-07-13 12:41] AnHeuermann commented on #64
Using `Julia -O0` changes nothing (as far as I can see).

[2022-07-13 12:41] arun3688 commented on #64
@AnHeuermann  the main issue, the process is spawned, but the ZMQFile generated is not available by the time, when we want to read, sleep should do the trick, but this code should also do the trick

[code]

[2022-09-26 12:28] AnHeuermann opened #66 "Debugging Julia with OMJulia gives ZMQ.StateError"
## Description

I'm using VS Code and the Julia extension to debug my Julia projects.
When debugging code that also uses OMJulia I'm hitting errors I don't see when running the code without the debugger.

## How to reproduce

When starting to debug a file with

[code]

I'm hitting an error in ZMQ.jl package:

[code]

I'm not sure if this is a ZMQ problem or the `omc.socket` from OMJulia is differe

[2022-10-10 15:02] AnHeuermann opened #67 "OMJulia not working inside Docker container"
## Description

I have a Julia package that is building the documentation inside a Docker container using Documenter.jl.

My CI fails to build the documentation, because OMJulia doesn't work inside a docker container, because the ZMQ server port file can't be created.

[code]

## How to reproducer

Create a `dockerfile` with:

[code]

Build the container
[code]

Start the container and execute Jul

[2022-10-10 15:55] AnHeuermann commented on #67
With some debugging I could locate the issue:

[code]

This is a reasonable restriction, but OMJulia should return the full error message. I'll try to redirect `stdout` and `stderr` into a buffer and print, if the process fails.

[2022-10-10 19:24] casella commented on #67
Wow, let's try to avoid people using omc as a Trojan horse 😅

[2022-10-10 20:49] arun3688 commented on #67
@AnHeuermann  Inside a docker container omc cannot be run as a root users,  we should always run as a non root user, see an example https://github.com/OpenModelica/jupyter-openmodelica/blob/master/Dockerfile

[2022-10-10 22:00] AnHeuermann commented on #67
The point is, that the error message was not displayed by OMJulia.

I'm fine with the restriction in itself. Actually I'm running the docker daemon as a non-root user, so for me the user is called root, but mapped to my host user.

[2022-10-11 09:09] AnHeuermann opened #69 "Test Julia LTS and stable version"
The Jenkinsfile is using docker.openmodelica.org/omjulia-build-deps:v0.1.0 where Julia v1.0.3 is installed.
The current LTS (1.6.7) and stable (v1.8.2) versions should also be tested.

Both could be added to the Dockerfile and two more stages can be added to the Jenkins pipeline. But then someone has to keep track of what is the current stable / LTS version and update the Jenkinsfile.

It is also

[2022-10-11 10:44] #67 closed